* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v151_219 {
  width: 100%;
  height: 982px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v151_220 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 304px;
  left: 153px;
  font-family: Gilroy;
  font-weight: Heavy Italic;
  font-size: 105px;
  opacity: 1;
  text-align: center;
}
.v151_221 {
  width: 100%;
  color: url("../images/v151_221.png");
  position: absolute;
  top: 521px;
  left: 238px;
  opacity: 1;
  text-align: center;
}
.v151_222 {
  width: 517px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 757px;
  left: 498px;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v151_223 {
  width: 348px;
  height: 91px;
  background: url("../images/v151_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 634px;
  left: 582px;
  overflow: hidden;
}
.v151_224 {
  width: 348px;
  height: 91px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v151_225 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 49px;
  font-family: Gilroy;
  font-weight: Heavy Italic;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v151_226 {
  width: 325px;
  height: 77px;
  background: url("../images/v151_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 588px;
  overflow: hidden;
}
.v151_227 {
  width: 313px;
  height: 77px;
  background: url("../images/v151_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
.v151_228 {
  width: 258px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 55px;
  font-family: Gilroy;
  font-weight: Heavy Italic;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v151_229 {
  width: 45px;
  height: 49px;
  background: url("../images/v151_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v151_230 {
  width: 52px;
  height: 56px;
  background: url("../images/v151_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v151_231 {
  width: 52px;
  height: 56px;
  background: url("../images/v151_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v151_232 {
  width: 52px;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v151_233 {
  width: 76px;
  height: 30px;
  background: url("../images/v151_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 492px;
  left: 394px;
  overflow: hidden;
}
.v151_234 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 21px;
  font-family: Gilroy;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v151_235 {
  width: 18px;
  height: 18px;
  background: url("../images/v151_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v151_236 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v151_237 {
  width: 18px;
  height: 18px;
  background: url("../images/v151_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v151_238 {
  width: 100px;
  height: 56px;
  background: url("../images/v151_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 511px;
  left: 332px;
  overflow: hidden;
}
.v151_239 {
  width: 97px;
  height: 48px;
  background: url("../images/v151_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  transform: rotate(-4deg);
  overflow: hidden;
}
.v151_240 {
  width: 91px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 6px;
  overflow: hidden;
}
.v151_242 {
  width: 234px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 917px;
  left: 639px;
  font-family: ABC Diatype;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
